/* the geometry of the page */
@page-width: 200mm;
@page-height: 300mm;

/* the size of the crop marks*/
@crop-size: 5mm;

/* the size of bleed */
@bleed: 5mm;

@page-margin-inside: (@page-width/18)*1;
@page-margin-outside:(@page-width/18)*2;
@page-margin-top:(@page-height/18)*0;
@page-margin-bottom: 0pt;

// Header & footer variables
@header-height: 20mm;
@header-text: "The riddle of the real city";
@footer-height: (@page-height/18)*2;
@footer-text: counter(page-counter);
