@import "../main.less";

.inlineFootnote {
    display: none;
    text-align: left;
    color: @color-brown;
    cursor: zoom-out;
    font-size: @font-size*0.75;
    font-family: @body-font;
    margin-top: @line-height*0.1;
    margin-left: @line-height/2;
    margin-bottom: @line-height*0.25;
    line-height: @line-height*0.8;
    -webkit-hyphens: auto; 
}

.inlineFootnote.expanded {
    display: inline-block;
    width: (@page-width/18)*3;
    float: right;
}

.inlineFootnote.expanded p {
    text-indent: none;
}

.inlineFootnote.expanded p + p {
    text-indent: none;
}

.footnoteRef {
    color:@color-brown;
    font-family: 'Dauphine';
    position: relative;
    top: -5px;
    font-size: 80%;
    margin-left: 4px;
    cursor: zoom-in;
}

.footnoteRef.collapsed {
    display: none;
}

.numberFootnote {
    color:@color-brown;
    font-family: 'Dauphine';
    font-size: 80%;
}

p.big-break {
  margin-top: @line-height;
  text-indent:0pt;
}
