/* the geometry of the page */
/* the size of the crop marks*/
/* the size of bleed */
@import "assets/css/reset.css";
/**
 * Computation
 */
/* EXTRA SPACE AROUND THE PAGE: BLEED + CROP */
/* GEOMETRY OF THE PAPER SHEET */
/* SIZE OF SPREAD */
/**
 * DEFINITION OF THE PAPER SHEET
 */
@page {
  size: 220mm 325mm;
  margin: 0;
}
/**
 * CANVAS
 */
@media all {
  body {
    margin: 0;
  }
  .paper {
    width: 220mm;
    height: 320mm;
    box-sizing: border-box;
    /* Crop marks */
    padding: 10mm;
    counter-increment: page-counter;
    /* utile ou non? pour éviter qu'un papier soit coupé par le format de la
        * page lors de la conversion et l'arrondis des unités */
    page-break-inside: avoid;
    overflow: hidden;
    /* Crop marks */
    background-image: -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%), -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%), -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%), -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%);
    background-size: 5mm 1px, 1px 5mm, 5mm 1px, 1px 5mm, 5mm 1px, 1px 5mm, 5mm 1px, 1px 5mm;
    background-position: left 10mm, 10mm top, right 10mm, 210mm top, right 310mm, 210mm bottom, left 310mm, 10mm bottom;
    background-repeat: no-repeat;
  }
  .h2p-page {
    width: 200mm;
    height: 300mm;
    box-sizing: border-box;
    position: absolute;
  }
}
@media screen {
  body {
    background-color: #F0F0F0 !important;
  }
  #pages {
    width: 220mm;
    height: 320mm;
    margin-left: auto;
    margin-right: auto;
  }
  .spread #pages {
    width: 440mm;
    height: 640mm;
  }
  .spread #pages .paper {
    float: left;
  }
  .spread #pages .paper:first-of-type {
    margin-left: 220mm;
  }
  .paper {
    /* centrer la page à l'écran */
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media print {
  html {
    width: 220mm;
    background: none;
  }
  body {
    /* Allows printing of background colors */
    background: none;
  }
  #pages {
    position: absolute;
    top: 0;
  }
  html,
  body,
  .page .paper {
    background: none !important;
  }
}
/**
 * Helpers
 */
.region-break {
  /* Apply this class to an element to put it on a new region.
     * Hint:
     * You can also use an empty <div class="page-break"></div>
     * if you want to put manual page breaks without attaching it to an HTML element
     */
  -webkit-region-break-before: always;
}
.header,
.body,
.footer {
  box-sizing: border-box;
}
/* __________________________________ HEADER __________________________________ */
.header {
  /*position: absolute;*/
  /*margin-top: @page-margin-top;*/
  margin: 0;
  padding-top: 3px;
  height: 20mm;
  text-align: left;
  padding-right: 30px !important;
  outline-color: green;
}
.header:after {
  content: "";
  right: 30px !important;
}
/* __________________________________ MAIN SECTION __________________________________ */
.body {
  height: 245.87291667mm;
  width: 100%;
  padding-top: 12.5pt;
  overflow: hidden;
}
#my-story {
  width: 200mm;
}
/* __________________________________ FOOTER __________________________________ */
.footer {
  margin: 0;
  width: 100%;
  height: 33.33333333mm;
  text-align: center;
  outline-color: red;
}
.footer:after {
  content: counter(page-counter);
}
/* for spreads only */
.paper:nth-child(odd) .header {
  text-align: right;
}
.paper:nth-child(odd) .header,
.paper:nth-child(odd) .body,
.paper:nth-child(odd) .footer {
  padding-left: 30px;
  padding-right: 30px;
}
.paper:nth-child(even) .header,
.paper:nth-child(even) .body,
.paper:nth-child(even) .footer {
  padding-left: 30px;
  padding-right: 30px;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoids headings to be cut or to be orphans.
     * But it doesn't seem to work
     * if the element after has a page-break-inside avoid. It tries its best! */
  -webkit-region-break-inside: avoid;
  -webkit-region-break-after: avoid;
  break-inside: avoid;
  break-after: avoid;
}
/* AN EXAMPLE TO AVOID PAGE BREAK INSIDE,
 * HERE NO PARAGRAPH WILL BE CUT,
 * BUT YOU MIGHT WANT TO DEACTIVATE THIS */
p {
  /*-webkit-region-break-inside: avoid;*/
}
* {
  -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
}
.debug .header {
  outline: 1pt solid pink;
}
.debug .body {
  outline: 1pt solid purple;
}
.debug .footer {
  outline: 1pt solid pink;
}
/* __________________________________ IMAGES __________________________________ */
/* Use those classes for images to fit width or height of parent elements or both. */
img.fit-height {
  height: 100%;
}
img.fit-width {
  width: 100%;
}
@font-face {
  font-family: 'Ostrich';
  src: url("/assets/fonts/ostrich-bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dauphine";
  src: url("/assets/fonts/Dauphine-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dauphine";
  src: url("/assets/fonts/Dauphine-Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DauphineDings";
  src: url("/assets/fonts/Dauphine-Dings.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garamond8";
  src: url("/assets/fonts/EBGaramond08-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garamond12";
  src: url("/assets/fonts/EBGaramond8-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Garamond12";
  src: url("/assets/fonts/EBGaramond12-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garamond12";
  src: url("/assets/fonts/EBGaramond12-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Garamond8";
  src: url("/assets/fonts/EBGaramond12-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "GaramondSC8";
  src: url("/assets/fonts/EBGaramondSC08-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GaramondSC12";
  src: url("/assets/fonts/EBGaramondSC12-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('/assets/fonts/FiraMono/EOT/FiraMono-Regular.eot');
  src: url('/assets/fonts/FiraMono/EOT/FiraMono-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/FiraMono/WOFF2/FiraMono-Regular.woff2') format('woff2'), url('/assets/fonts/FiraMono/WOFF/FiraMono-Regular.woff') format('woff'), url('/assets/fonts/FiraMono/TTF/FiraMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RemigtonItalic';
  src: url("/assets/fonts/LTCRemingtonTypewriterPro-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HKGrotesk';
  src: url("/assets/fonts/HKGrotesk-Regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HKGrotesk';
  src: url("/assets/fonts/HKGrotesk-HKGrotesk-Italic.otf") format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'HKGrotesk';
  src: url("/assets/fonts/HKGrotesk-Medium.otf") format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HKGrotesk';
  src: url("/assets/fonts/HKGrotesk-MediumItalic.otf") format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'HKGrotesk';
  src: url("/assets/fonts/HKGrotesk-Light.otf") format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HKGrotesk';
  src: url("/assets/fonts/HKGrotesk-LightItalic.otf") format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Hugo';
  src: url("/assets/fonts/Hugo-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hugo';
  src: url("/assets/fonts/Hugo-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
/* -------------------------------------------- VARIABLES ----------------------------------------- */
/* -------------------------------------------- GENERIC CLASSES ----------------------------------------- */
body {
  line-height: 12.5pt;
}
h1,
h2 {
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
em {
  font-style: italic;
}
div.column {
  float: left;
  padding: 0 6.25pt;
  height: 100%;
  box-sizing: border-box;
}
div.column90 {
  width: 90%;
}
div.column60 {
  width: 60%;
}
div.column50 {
  width: 50%;
}
div.column30 {
  width: 30%;
}
div.column25 {
  width: 25%;
}
body#extended-content-html #pages {
  counter-reset: page-counter 2;
}
body#I-1-1 #pages {
  counter-reset: page-counter 12;
}
body#I-1-2 #pages {
  counter-reset: page-counter 24;
}
body#I-1-3 #pages {
  counter-reset: page-counter 30;
}
body#I-1-4 #pages {
  counter-reset: page-counter 38;
}
body#I-1-5 #pages {
  counter-reset: page-counter 54;
}
body#I-1-6 #pages {
  counter-reset: page-counter 68;
}
body#I-1-7 #pages {
  counter-reset: page-counter 76;
}
body#I-1-8 #pages {
  counter-reset: page-counter 84;
}
body#I-1-9 #pages {
  counter-reset: page-counter 104;
}
body#I-2-1 #pages {
  counter-reset: page-counter 118;
}
body#I-2-2 #pages {
  counter-reset: page-counter 124;
}
body#I-2-3 #pages {
  counter-reset: page-counter 136;
}
body#I-2-4 #pages {
  counter-reset: page-counter 148;
}
body#I-2-5 #pages {
  counter-reset: page-counter 160;
}
body#I-2-6 #pages {
  counter-reset: page-counter 170;
}
body#I-2-7 #pages {
  counter-reset: page-counter 180;
}
body#II-1 #pages {
  counter-reset: page-counter-left 192 page-counter-right 193;
}
body#II-2 #pages {
  counter-reset: page-counter-left 214 page-counter-right 215;
}
body#II-3 #pages {
  counter-reset: page-counter-left 254 page-counter-right 255;
}
body#II-4 #pages {
  counter-reset: page-counter-left 280 page-counter-right 281;
}
body#II-5 #pages {
  counter-reset: page-counter-left 292 page-counter-right 293;
}
body#II-6 #pages {
  counter-reset: page-counter-left 320 page-counter-right 321;
}
body#III #pages {
  counter-reset: page-counter 352;
}
.body {
  position: relative;
}
.inlineFootnote {
  display: none;
  text-align: left;
  color: #993300;
  cursor: zoom-out;
  font-size: 9pt;
  font-family: 'Garamond12';
  margin-top: 1.25pt;
  margin-left: 6.25pt;
  margin-bottom: 3.125pt;
  line-height: 10pt;
  -webkit-hyphens: auto;
}
.inlineFootnote.expanded {
  display: inline-block;
  width: 33.33333333mm;
  float: right;
}
.inlineFootnote.expanded p {
  text-indent: none;
}
.inlineFootnote.expanded p + p {
  text-indent: none;
}
.footnoteRef {
  color: #993300;
  font-family: 'Dauphine';
  position: relative;
  top: -5px;
  font-size: 80%;
  margin-left: 4px;
  cursor: zoom-in;
}
.footnoteRef.collapsed {
  display: none;
}
.numberFootnote {
  color: #993300;
  font-family: 'Dauphine';
  font-size: 80%;
}
p.big-break {
  margin-top: 12.5pt;
  text-indent: 0pt;
}
.index-entry,
.nameindex-entry {
  margin-top: 3.75pt;
  font-size: 12pt;
  line-height: 12.5pt;
  font-family: "Garamond12";
  -webkit-break-inside: avoid;
  break-inside: avoid;
}
.index-entry .index-entry,
.nameindex-entry .index-entry {
  margin-left: 18.75pt;
}
.index-entry .index-entry-label,
.nameindex-entry .index-entry-label,
.index-entry .nameindex-entry-label,
.nameindex-entry .nameindex-entry-label {
  padding-right: 1.5mm;
  /* display: block; */
  font-family: "Dauphine";
  font-size: 12pt;
}
.index-entry .index-entry-label:after,
.nameindex-entry .index-entry-label:after {
  content: ":";
}
.index-entry .nameindex-entry-dates,
.nameindex-entry .nameindex-entry-dates {
  font-size: 80%;
  font-family: "Dauphine";
}
.index-entry .nameindex-entry-dates:before,
.nameindex-entry .nameindex-entry-dates:before {
  content: "(";
}
.index-entry .nameindex-entry-dates:after,
.nameindex-entry .nameindex-entry-dates:after {
  content: "): ";
  margin-right: 1mm;
}
.index-entry .index-entry-pagenum:after,
.nameindex-entry .index-entry-pagenum:after,
.index-entry .nameindex-entry-pagenum:after,
.nameindex-entry .nameindex-entry-pagenum:after {
  content: ", ";
}
.index-entry .index-entry-pagenum:last-of-type:after,
.nameindex-entry .index-entry-pagenum:last-of-type:after,
.index-entry .nameindex-entry-pagenum:last-of-type:after,
.nameindex-entry .nameindex-entry-pagenum:last-of-type:after {
  content: "";
}
#book0-index h2 {
  margin-top: 25pt;
  margin-bottom: 12.5pt;
}
#stories ul {
  -webkit-flow-into: references;
  flow-into: references;
}
#stories article {
  -webkit-flow-into: main;
  flow-into: main;
}
.main {
  -webkit-flow-from: main;
  flow-from: main;
}
.references {
  -webkit-flow-from: references;
  flow-from: references;
}
div.header,
div.footer {
  background-color: white;
}
.header {
  height: 10mm;
  width: 30%;
  margin: auto;
  text-align: center !important;
  font-family: 'dauphine' !important;
  font-size: 7.5pt;
  margin-top: 0mm !important;
  margin-bottom: 0pt;
  padding-top: 5mm;
  padding-bottom: 6mm;
  text-transform: uppercase !important;
  letter-spacing: 0.06em !important;
}
.footer {
  height: 13.33333333mm;
  width: 10%;
  margin: auto;
  text-align: center !important;
  font-family: 'dauphine' !important;
  font-size: 6pt !important;
  margin-top: -10mm !important;
  text-transform: uppercase !important;
  letter-spacing: 0.06em !important;
}
.header,
.footer {
  padding-left: 0%;
  padding-right: 0%;
}
.body {
  width: 80%;
  margin: auto;
  height: 282mm;
}
* {
  font-size: 11.5pt;
  line-height: 12.5pt;
}
.main {
  position: relative;
  float: left;
  width: calc(50% - 16px);
  height: calc(100% - 51px);
  border: 0px solid black;
  padding-bottom: 6px;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 12.5pt;
}
.main:nth-of-type(n+2) {
  border-left: 0px;
}
.body,
.paper:nth-child(odd) .page .body,
.paper:nth-child(even) .page .body {
  padding: 6px 0px;
}
p,
li {
  text-rendering: initial;
  hyphens: auto;
  -webkit-hyphens: auto;
  font-family: "dauphine" !important;
  text-align: left !important;
  padding-left: 6mm;
  text-indent: -6mm;
  margin-top: 0pt ;
  margin-bottom: 12.5pt;
  margin-left: 0pt !important;
}
li {
  text-rendering: initial;
  hyphens: auto;
  -webkit-hyphens: auto;
  font-family: "dauphine" !important;
  text-align: left !important;
  padding-left: 0mm;
  text-indent: -17pt;
  margin-top: 0pt ;
  margin-bottom: 12.5pt;
  margin-left: 0pt !important;
}
ol li::before {
  content: "▴ ";
  padding-right: 3pt;
  padding-left: 3mm;
  margin: 0pt;
}
ol,
ul {
  list-style-type: none !important;
  margin: 0pt !important;
  margin-left: 0pt !important;
  padding-left: 16pt;
  margin-top: 12.5pt;
}
ol + p {
  text-indent: 0pt;
  margin-top: -12.5pt;
}
strong {
  display: inside-block;
  font-family: "Garamond8" !important;
  font-size: 11.5pt;
  letter-spacing: 0.03em;
}
ol {
  -webkit-break-inside: avoid;
  break-inside: avoid;
}
p + blockquote,
blockquote + blockquote {
  margin-top: -12.5pt;
}
#extended-content-html blockquote + p {
  margin-top: -12.5pt;
  text-indent: 0pt;
}
#extended-content-html blockquote {
  break-inside: avoid;
}
#extended-content-html blockquote p {
  font-family: "Garamond8" !important;
  font-size: 11.5pt;
  letter-spacing: 0.03em;
}
#extended-content-html h2 {
  font-family: "dauphine" !important;
  text-transform: uppercase;
  margin-bottom: 0pt;
  text-align: center;
}
#extended-content-html h3 {
  font-family: "garamondSC12" !important;
  margin-bottom: 0pt;
  text-align: center;
  margin-top: 6pt;
  font-size: 13.5pt;
  letter-spacing: 0.01em;
}
#extended-content-html h3 + h3 {
  margin-top: 0pt;
}
#extended-content-html h1 + p {
  font-family: "dauphine" !important;
  margin-top: 0pt;
  font-size: 10pt;
  text-transform: uppercase;
  text-indent: 0pt;
  margin-left: 0pt !important;
  padding-left: 0pt;
  letter-spacing: 0.07em;
  text-align: center;
  margin-bottom: 37.5pt;
}
#extended-content-html h4 {
  font-family: "garamond8";
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: center;
  font-size: 9pt;
  letter-spacing: 0.05em;
}
#extended-content-html h4 + p {
  margin-top: 12.5pt;
}
#extended-content-html h5 {
  font-family: "garamond8";
  font-size: 9pt;
  font-weight: normal;
  margin-top: 6pt;
  margin-bottom: 6pt;
  text-align: center;
  letter-spacing: 0.05em;
}
#extended-content-html h1 + p + p,
#extended-content-html h1 + p + p + p {
  text-indent: -6mm;
}
#extended-content-html hr:nth-of-type(3),
#extended-content-html hr:nth-of-type(4),
#extended-content-html hr:nth-of-type(5),
#extended-content-html hr:nth-of-type(6) {
  border: dashed 1px black;
  margin-bottom: 12.5pt;
}
#extended-content-html hr {
  border: solid 1px black;
  margin-bottom: 12.5pt;
}
h1 + p + p,
h1 + p + p + p {
  text-indent: 0pt;
}
h1 + p + p,
h1 + p + p + p,
h1 + p {
  font-family: "Garamond12" !important;
  font-size: 10pt;
  letter-spacing: 0.03em;
  line-height: 12.5pt;
}
blockquote {
  margin: 0pt;
}
blockquote p {
  margin-top: 0pt;
}
blockquote p::before {
  content: "▵";
  padding-right: 3pt;
  padding-left: 3mm;
  margin: 0pt;
}
em {
  font-style: italic;
  text-decoration: none;
}
h1 {
  font-family: "dauphine";
  font-size: 17pt !important;
  margin-top: 0pt;
  text-align: left;
  margin-bottom: 19pt;
  margin-right: 6px;
  letter-spacing: 1pt;
  line-height: 18.4pt;
  display: block;
  color: black;
}
h2 {
  font-family: "Garamond8" !important;
  font-size: 12.5pt;
  letter-spacing: 0.03em;
  padding-left: 6mm;
  text-indent: -6mm;
  margin-top: 0pt ;
  margin-bottom: 12.5pt;
}
