@import "../style.less";

.index-entry, .nameindex-entry {
  margin-top: @line-height * .3;
  font-size: @font-size;
  line-height: @line-height;
  font-family: "Garamond12";
  -webkit-break-inside: avoid;
  break-inside: avoid;


  .index-entry {
    margin-left: @line-height * 1.5;
  }

  .index-entry-label, .nameindex-entry-label {
    padding-right: 1.5mm;
    /* display: block; */
    font-family: "Dauphine";
    font-size: @font-size;
  }

  .index-entry-label {
    &:after {
      content: ":";
    }
  }

  .nameindex-entry-dates {
    &:before {
      content: "("
    }

    &:after {
      content: "): ";
      margin-right: 1mm;
    }

    font-size: 80%;
    font-family: "Dauphine";
  }

  .index-entry-pagenum, .nameindex-entry-pagenum {
    &:after {
      content: ", ";
    }

    &:last-of-type {
      &:after {
        content: "";
      }
    }
  }
}

#book0-index {
  // .main {
  //   float: left;
  //   width: (@page-width/18) * 4;
  //   padding-right: 5mm;
  // }

  h2 {
    margin-top: @line-height * 2;
    margin-bottom: @line-height;
  }
}



@page-margin-inside: 30px;
@page-margin-outside:30px;
@page-margin-top: 3px;
@page-margin-bottom: 0pt;

@line-height: 12.5pt;

@color-canal: black;
@header-text: "";



#stories ul {
    -webkit-flow-into: references;
    flow-into: references;
}

#stories article {
    -webkit-flow-into: main;
    flow-into: main;
}


.main {
    -webkit-flow-from: main;
    flow-from: main;
}

.references {
    -webkit-flow-from: references;
    flow-from: references;
}
div.header, div.footer {
  background-color: white;
}
.header {

    height: 10mm;
    width:30%;
    margin: auto;
    text-align: center !important;
    font-family: 'dauphine' !important;
    font-size: 7.5pt;
    margin-top: 0mm !important;
    margin-bottom:0pt;
    padding-top: 5mm;
    padding-bottom: 6mm;
    text-transform: uppercase !important;
    // font-style:italic;
    // font-size: @body-size !important;
    letter-spacing: 0.06em !important;
}
.footer {
  height: @footer-height*0.4;
  width:10%;
  margin: auto;
  text-align: center !important;
  font-family: 'dauphine' !important;
  font-size: 6pt !important;
margin-top: -10mm !important;

  text-transform: uppercase !important;
  // font-style:italic;
  // font-size: @body-size !important;
  letter-spacing: 0.06em !important;
}

.header, .footer {
    padding-left: 0%;
    padding-right: 0%;
}


.body {
  // width: calc(~"100% - @page-margin-inside");
  width: 80%;
  margin:auto;
  height: 282mm;
}

* {
    font-size: 11.5pt;
    line-height: 12.5pt;
}

.main {
   position:relative;
   float:left;
   width: calc(~"50% - 16px");
   height: calc(~"100% - 51px");
   border: 0px solid black;
  //  padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 6pt;
   padding-right: 6pt;
   padding-top: @line-height;

   &:nth-of-type(n+2) {
     border-left: 0px;
     }
   }

.body,
.paper:nth-child(odd) .page .body,
.paper:nth-child(even) .page .body {
  padding: 6px 0px;
}

p, li{
    text-rendering: initial;
    hyphens: auto;
    -webkit-hyphens: auto;
    font-family: "dauphine" !important;
    // font-size: 11.5pt !important;
    // line-height: 11.5pt;
    text-align: left !important;
    // display: inline-block;
    padding-left: 6mm;
    text-indent: -6mm;
    margin-top: 0pt ;
    margin-bottom: @line-height ;
    margin-left: 0pt !important;
}
li {
    text-rendering: initial;
    hyphens: auto;
    -webkit-hyphens: auto;
    font-family: "dauphine" !important;
    // font-size: 11.5pt !important;
    // line-height: 11.5pt;
    text-align: left !important;
    // display: inline-block;
    padding-left: 0mm;
    text-indent: -17pt;
    margin-top: 0pt ;
    margin-bottom: @line-height ;
    margin-left: 0pt !important;
}
ol li::before {
  content: "▴ ";
  padding-right: 3pt;
  padding-left: 3mm;
  margin: 0pt;
}
ol, ul {
  list-style-type: none !important;
  margin: 0pt !important;
  margin-left: 0pt !important;
  padding-left: 16pt;
  margin-top: @line-height;
}
ol + p {
  text-indent: 0pt;
  margin-top: -12.5pt;
}
strong{
  display: inside-block;
  font-family: "Garamond8" !important;
  font-size: 11.5pt;
  letter-spacing: 0.03em;
}

ol {
  -webkit-break-inside: avoid;
  break-inside: avoid;
}

p + blockquote, blockquote + blockquote {
  margin-top: -12.5pt;
}
#extended-content-html {
   blockquote + p{
    margin-top: -12.5pt;
    text-indent: 0pt;
  }
   blockquote + p  {
    // padding-left:10mm;
  }
  blockquote {
    // padding-left:4mm;
    break-inside: avoid;
  }
   blockquote p {
    // font-family: "Garamond12" !important;
    font-family: "Garamond8" !important;
    font-size: 11.5pt;
    letter-spacing: 0.03em;
  }

  h1:nth-of-type(2){
    margin-top: @line-height * 2;
    margin-bottom: @line-height * 1;
  }
  h3 {
    font-family: "garamondSC12" !important;
    margin-bottom: 0pt;
    text-align: center;
    margin-top: 6pt;
    font-size: 13.5pt;
    letter-spacing: 0.01em;
  }

  h3 + h3 {
    margin-top: 0pt;
  }
  h1 + p {
    font-family: "dauphine" !important;
    margin-top: 0pt;
    font-size: 10pt;
    text-transform: uppercase;
    text-indent: 0pt;
    margin-left: 0pt !important;
    padding-left: 0pt;
    letter-spacing: 0.07em;
    text-align: center;
    margin-bottom: @line-height * 3;
  }
  h4 {
    font-family: "garamond8";
    margin-top: 0pt;
    margin-bottom: 0pt;
    text-align: center;
    font-size: 9pt;
    letter-spacing: 0.05em;
  }
  h4 + p {
    margin-top: 12.5pt;
  }
  h5 {
    font-family: "garamond8";
    font-size: 9pt;
    font-weight: normal;
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: center;
    letter-spacing: 0.05em;
  }
  h1 + p + p, h1 + p + p + p{
  text-indent: -6mm;
  }
  hr:nth-of-type(3), hr:nth-of-type(4), hr:nth-of-type(5), hr:nth-of-type(6) {
    border: dashed 1px black;
    margin-bottom: @line-height;
  }
  hr{
    border: solid 1px black;
    margin-bottom: @line-height;
  }

}

#colophon-html, #extended-content-html{
  h1 {
    margin-bottom: 0pt;
  }

  h2 {
    font-family: "dauphine" !important;
    text-align: left;
    margin-top: 0pt;
    margin-bottom: 0pt;
    text-indent: 0pt;
    padding-left: 0mm;
  }
}
#colophon-html {
  p {
    margin-bottom: 0pt;
  }
  img[alt="1001"] {
    max-width: 25%;
    float: left;
    position: absolute;
    margin-left: 60%;
    margin-top: -35px;
  }
  img[alt="cif"] {
    max-width: 65%;
    margin-top: 5pt;

  }
  img[alt="inc"] {
    max-width: 55%;
    margin-top: 5pt;

  }
  h2 + p {
    margin-top: @line-height * 2;
  }
  h2 + p, h2 + p + p {
   font-family: "Garamond12" !important;
   margin-bottom: 12.5pt;
   font-size: 10pt;
  }
  ol li {
    margin-top: 12.5pt;
    margin-bottom: 0pt;
  }
  ol + p {
    text-indent: -6mm;
    margin-top: 0pt;
  }
    ol:nth-of-type(1) + p {
    text-indent: -6mm;
    margin-bottom: 12.5pt;
  }
  ol:nth-of-type(1) + p,
  ol:nth-of-type(1) + p + p,
  ol:nth-of-type(1) + p + p + p,
  ol:nth-of-type(2) + p, {
    margin-top: 12.5pt;
    margin-bottom: 0pt;
  }
  ol li::before {
    padding-right: 8.5pt;
    padding-left: 0mm;
  }
}

#stories article[data-src="/stories/book0/cover-book1.html"],
#stories article[data-src="/stories/book0/cover-book1-1.html"],
#stories article[data-src="/stories/book0/cover-book1-2.html"],
#stories article[data-src="/stories/book0/cover-book2.html"] {
    -webkit-flow-into: main-cover;
    flow-into: main-cover;
}
.main-cover {
    -webkit-flow-from: main-cover;
    flow-from: main-cover;
}
#stories article[data-src="/stories/book0/cover-book3.html"] {
    -webkit-flow-into: main-cover-book3;
    flow-into: main-cover-book3;
}
.main-cover-book3 {
    -webkit-flow-from: main-cover-book3;
    flow-from: main-cover-book3;
}



.main-cover {
   position:relative;
   float:left;
   width: calc(~"100% - 16px");
 }
 .main-cover-book3 {
    // position:absolute;
    // float:left;
    width: calc(~"50% - 16px");
    margin: auto;
    padding-top: 100pt;
  }

 #cover-book1-html {
    * {
      text-align: center;
    }
    p {
      text-align: center !important;
      font-family: "GaramondSC12" !important;
      font-size: 10.5pt;
      // text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    h1 {
      font-family: "Garamond8" !important;
      text-transform: uppercase;
      font-size: 29pt !important;
      line-height: 32pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
    }
    h2 {
      font-family: "GaramondSC8" !important;
      text-transform: uppercase;
      font-size: 17pt;
      line-height: 21pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
      letter-spacing: 0.03em;

    }
    h3{
      font-family: "Garamond8" !important;
      text-transform: none;
      font-size: 16pt;
      line-height: 17pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
      letter-spacing: 0.03em;
    }
    h3:nth-of-type(1){
      margin-top: 12.5pt;
      margin-bottom: 37.5pt;
    }
    h3:nth-of-type(1) + p {
      margin-bottom: 0pt;
    }
    h3:nth-of-type(3) + p {
      margin-top: 12.5pt;
      margin-bottom: 0pt;
    }
    h3:nth-of-type(4) + p {
      margin-top: 25pt;
      margin-bottom: 0pt;
    }
    h4:nth-of-type(1) + p {
      margin-bottom: 0pt;
    }
    h4:nth-of-type(2) + p + p {
      margin-bottom: 12.5pt;
    }

    h3:nth-of-type(5) + p,
    h3:nth-of-type(5) + p + p,
    h3:nth-of-type(5) + p + p + p {
      font-family: "Garamond12" !important;
      font-size: 11.5pt;
      margin: 0pt!important;
      padding: 0pt!important;
      text-transform: none !important;
    }
    h3:nth-of-type(4) + p {
      margin-top: 25pt !important;
    }
    h3:nth-of-type(4) + p + p + p {
      margin-bottom: 12.5pt !important;
    }
    h4 {
      font-family: "Garamond8" !important;
      // text-transform: uppercase;
      font-size: 23pt;
      line-height: 24pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
      letter-spacing: 0.03em;
    }

 }

 #cover-book1-1-html,  #cover-book1-2-html  {
    * {
      text-align: center;
    }
    p {
      text-align: center !important;
      font-family: "GaramondSC12" !important;
      font-size: 10.5pt;
      // text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    h1 {
      font-family: "Garamond8" !important;
      text-transform: uppercase;
      font-size: 29pt !important;
      line-height: 32pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
    }
    h2 {
      font-family: "GaramondSC8" !important;
      text-transform: uppercase;
      font-size: 17pt;
      line-height: 21pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
      letter-spacing: 0.03em;

    }
    h3{
      font-family: "Garamond8" !important;
      text-transform: none;
      font-size: 16pt;
      line-height: 17pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
      letter-spacing: 0.03em;
    }
    h3:first-of-type{
      margin-top: 150pt;
    }

    h4 {
      font-family: "Garamond8" !important;
      // text-transform: uppercase;
      font-size: 23pt;
      line-height: 24pt;
      margin-top: 0pt;
      margin-bottom: 0pt;
      letter-spacing: 0.03em;
    }

 }

#cover-book2-html {
  * {
    font-family: 'Dauphine' !important;
    text-align: center;
  }
  h1{
    font-size: 36pt !important;
    width: 50%;
    margin: auto;
    line-height: 33pt
  }
  h1:first-of-type{
    margin-top: 12.5pt;
    padding-top: 12.5pt;
    border-top: solid 2px black;
  }
  h1:last-of-type{
    margin-bottom: 12.5pt;
    padding-bottom: 12.5pt;
    border-bottom: solid 2px black;
  }
  h2 {
    font-size: 20pt !important;
  }
  h2:nth-of-type(2){
    margin-top: 25pt;
  }
}
#cover-book3-html {
  * {
    font-family: 'Dauphine' !important;
    text-align: center;
  }
  h1{
    font-size: 36pt !important;
    margin: auto;
    line-height: 33pt;

  }
  h1:first-of-type{

  }
  h1:last-of-type{
    float: left;
    position: relative;
  }
  h2 {
    font-size: 12pt !important;
    border-top:solid 1px black;
    border-right:  solid 1px black;
    border-bottom: solid 1px black;
    float: left;
    position: relative;
    padding: 7px 5px 2px 20pt;
  }
  h3 {
    font-size: 12pt !important;
    font-family: 'Fira Mono' !important;
    margin: 0pt ;
    padding: 0pt;
    line-height: 15pt;
    margin-top: 9pt;
  }
}
// span.intro{
//   text-indent: 5pt !important;
// font-family: "garamond12" !important;
// margin-top: -12.5pt !important;
// }

h1 + p + p, h1 + p + p + p {
  text-indent: 0pt;
}
h1 + p + p, h1 + p + p + p, h1 + p {
  font-family: "Garamond12" !important;
  font-size: 10pt;
  letter-spacing: 0.03em;
  line-height: 12.5pt;
}
blockquote {
  margin: 0pt;
}
blockquote p {
  margin-top: 0pt;
}
blockquote p::before {
  content: "▵";
  padding-right: 3pt;
  padding-left: 3mm;
  margin: 0pt;
}
em {
  font-style: italic;
  text-decoration: none;
}


h1 {
    font-family: "dauphine";
    font-size: 17pt !important;
    margin-top: 0pt;
    text-align: left;
    margin-bottom: 19pt;
    margin-right: 6px;
    letter-spacing: 1pt;
    line-height: 18.4pt;
    display: block;
    color:black;
}
h2 {
  font-family: "Garamond8" !important;
  font-size: 12.5pt;
  letter-spacing: 0.03em;
    padding-left: 6mm;
    text-indent: -6mm;
    margin-top: 0pt ;
    margin-bottom: @line-height ;
}


// .paper {
//     background-image: none;
// }
