@start: 2;
@extended-content-html: @start;
@I: @extended-content-html + 6;
@I-1-0: @I + 2;
@I-1-1: @I-1-0 + 2;
@I-1-2: @I-1-1 + 12; // 11
@I-1-3: @I-1-2 + 6; // 5
@I-1-4: @I-1-3 + 8; // 9
@I-1-5: @I-1-4 + 16; // 15
@I-1-6: @I-1-5 + 14;
@I-1-7: @I-1-6 + 8;
@I-1-8: @I-1-7 + 8; // 7
@I-1-9: @I-1-8 + 20; // 19
@I-2: @I-1-9 + 12;
@I-2-1: @I-2 + 2;
@I-2-2: @I-2-1 + 6;
@I-2-3: @I-2-2 + 12;
@I-2-4: @I-2-3 + 12;
@I-2-5: @I-2-4 + 12; // 11
@I-2-6: @I-2-5 + 10;
@I-2-7: @I-2-6 + 10; // 9
@II: @I-2-7 + 12;
@II-1: @II + 1;
@II-2: @II-1 + 22;
@II-3: @II-2 + 40;
@II-4: @II-3 + 26;
@II-5: @II-4 + 12;
@II-6: @II-5 + 28;
@III: @II-6 + 30 + 1;
@III-all: @III + 2;

body#extended-content-html {
  #pages {
    counter-reset: page-counter @extended-content-html;
  }
}

body#I-1-1 {
  #pages {
    counter-reset: page-counter @I-1-1;
  }
}

body#I-1-2 {
  #pages {
    counter-reset: page-counter @I-1-2;
  }
}

body#I-1-3 {
  #pages {
    counter-reset: page-counter @I-1-3;
  }
}

body#I-1-4 {
  #pages {
    counter-reset: page-counter @I-1-4;
  }
}

body#I-1-5 {
  #pages {
    counter-reset: page-counter @I-1-5;
  }
}

body#I-1-6 {
  #pages {
    counter-reset: page-counter @I-1-6;
  }
}

body#I-1-7 {
  #pages {
    counter-reset: page-counter @I-1-7;
  }
}

body#I-1-8 {
  #pages {
    counter-reset: page-counter @I-1-8;
  }
}

body#I-1-9 {
  #pages {
    counter-reset: page-counter @I-1-9;
  }
}

body#I-2-1 {
  #pages {
    counter-reset: page-counter @I-2-1;
  }
}

body#I-2-2 {
  #pages {
    counter-reset: page-counter @I-2-2;
  }
}

body#I-2-3 {
  #pages {
    counter-reset: page-counter @I-2-3;
  }
}

body#I-2-4 {
  #pages {
    counter-reset: page-counter @I-2-4;
  }
}

body#I-2-5 {
  #pages {
    counter-reset: page-counter @I-2-5;
  }
}

body#I-2-6 {
  #pages {
    counter-reset: page-counter @I-2-6;
  }
}

body#I-2-7 {
  #pages {
    counter-reset: page-counter @I-2-7;
  }
}

body#II-1 {
  #pages {
    counter-reset: page-counter-left @II-1 - 1 page-counter-right @II-1;
  }
}

body#II-2 {
  #pages {
    counter-reset: page-counter-left @II-2 - 1 page-counter-right @II-2;
  }
}

body#II-3 {
  #pages {
    counter-reset: page-counter-left @II-3 - 1 page-counter-right @II-3;
  }
}

body#II-4 {
  #pages {
    counter-reset: page-counter-left @II-4 - 1 page-counter-right @II-4;
  }
}

body#II-5 {
  #pages {
    counter-reset: page-counter-left @II-5 - 1 page-counter-right @II-5;
  }
}

body#II-6 {
  #pages {
    counter-reset: page-counter-left @II-6 - 1 page-counter-right @II-6;
  }
}

body#III {
  #pages {
    counter-reset: page-counter @III-all;
  }
}