@font-face {
    font-family: 'Ostrich';
    src: url("/assets/fonts/ostrich-bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dauphine";
    src: url("/assets/fonts/Dauphine-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dauphine";
    src: url("/assets/fonts/Dauphine-Italic.otf") format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "DauphineDings";
    src: url("/assets/fonts/Dauphine-Dings.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Garamond8";
    src: url("/assets/fonts/EBGaramond08-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Garamond12";
    src: url("/assets/fonts/EBGaramond8-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Garamond12";
    src: url("/assets/fonts/EBGaramond12-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Garamond12";
    src: url("/assets/fonts/EBGaramond12-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Garamond8";
    src: url("/assets/fonts/EBGaramond12-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "GaramondSC8";
    src: url("/assets/fonts/EBGaramondSC08-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GaramondSC12";
    src: url("/assets/fonts/EBGaramondSC12-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/assets/fonts/FiraMono/EOT/FiraMono-Regular.eot');
    src: url('/assets/fonts/FiraMono/EOT/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/FiraMono/WOFF2/FiraMono-Regular.woff2') format('woff2'),
         url('/assets/fonts/FiraMono/WOFF/FiraMono-Regular.woff') format('woff'),
         url('/assets/fonts/FiraMono/TTF/FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RemigtonItalic';
    src: url("/assets/fonts/LTCRemingtonTypewriterPro-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HKGrotesk';
    src: url("/assets/fonts/HKGrotesk-Regular.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("/assets/fonts/HKGrotesk-HKGrotesk-Italic.otf") format('opentype');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'HKGrotesk';
    src: url("/assets/fonts/HKGrotesk-Medium.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("/assets/fonts/HKGrotesk-MediumItalic.otf") format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("/assets/fonts/HKGrotesk-Light.otf") format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("/assets/fonts/HKGrotesk-LightItalic.otf") format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Hugo';
    src: url("/assets/fonts/Hugo-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hugo';
    src: url("/assets/fonts/Hugo-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* -------------------------------------------- VARIABLES ----------------------------------------- */
@font-size: 12pt;
@body-font:'Garamond12';
@line-height: 14.5pt;
@color-canal: #12676a;
@color-brown: #993300;



/* -------------------------------------------- GENERIC CLASSES ----------------------------------------- */


body{
	line-height: @line-height;
}

h1,
h2 {
    color: inherit;
}



a {
    text-decoration: none;
    color: inherit;
}

em {
    font-style: italic;
}

div.column {
    float: left;
    padding: 0 @line-height / 2;
    height: 100%;
    box-sizing: border-box;
}

div.column90 { width: 90%; }
div.column60 { width: 60%; }
div.column50 { width: 50%; }
div.column30 { width: 30%; }
div.column25 { width: 25%; }